<include file="App/Admin/View/Public/left.html"/>
<!--/sidebar-->
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Index/index')}">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">回收新增</span></div>
    </div>
    <div class="result-wrap">
        <form action="{:U('Currency/addrecoveryDo')}" method="post" id="myform" name="myform" enctype="multipart/form-data">
            <div class="config-items">
                <div class="config-title">
                    <h1><i class="icon-font">&#xe00a;</i>回收添加</h1>
                </div>
                <div class="result-content">
                    <table width="100%" class="insert-tab">
                        <tbody>
                        <tr>
                            <th width="15%"><i class="require-red">*</i>选择币种：</th>
                            <td><select name="currency_id" id="category">
                                <foreach name="currency" item="vo">
                                    <option value="{$vo.currency_id}">{$vo.currency_name}</option>
                                </foreach>
                            </select></td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>会员获得比例：</th>
                            <td><input id="member_get" name="member_get" type="text" value="0.7" readonly></td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>1级返佣比例：</th>
                            <td><input id="level1_get" name="level1_get" type="text" value="0.05" readonly></td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>2级返佣比例：</th>
                            <td><input id="level2_get" name="level2_get" type="text" value="0.05" readonly></td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>3级返佣比例：</th>
                            <td><input id="level3_get" name="level3_get" type="text" value="0.05" readonly></td>
                        </tr>

                        <tr>
                            <th></th>
                            <td>
                                <input type="button" onclick="subform()" value="提交" class="btn btn-primary btn6 mr10">
                                <a href="{:U('Currency/recovery')}"><input type="button" value="返回"  class="btn btn6"></a>
                            </td>
                        </tr>
                        </tbody></table>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
ckemail = 0;

function subform(){
	//if(ckemail==1){
		$('#myform').submit();
//	}else{
	//	$('#email').focus();
	//}
}
</script>

<!--/main-->
</div>
</body>
</html>
<script>
$(".sub-menu").eq(6).show();
$(".sub-menu").eq(6).children("li").eq(5).addClass("on");
</script>