<include file="App/Home/View/Public/header.html"/>
<div id="main">
    <div class="main_box">
        <include file="App/Home/View/Public/left.html"/>
        <div class="raise right clearfix">
            <link rel="stylesheet" href="__PUBLIC__/Home/css/layer.css">
            <script src="__PUBLIC__/Home/js/base64.js"></script>
            <script src="__PUBLIC__/Home/js/Fnc.js"></script>

            <div style="float: left; width: 30%; margin-right: 20px;">
                <div class="config-title">
                    <h1>
                        <i class="icon-font">&#xe00a;</i>购买麒麟币
                    </h1>
                </div>
                </hr>

                <form method="post" id="goumaiForm" action="{:U('Safe/goumaiDo')}" jump-url="{:U('User/index')}">
                    <div class="config-items">
                        <div class="result-content">
                            <table width="100%" class="insert-tab">
                                <tbody>
                                <tr>
                                    <th><i class="require-red">*</i>购买币种：</th>
                                    <td><select name="currency_id" id="category" onchange="currency_change()">
                                        <foreach name="currency" item="vo">
                                            <option value="{$vo.currency_id}">{$vo.currency_name}</option>
                                        </foreach>
                                    </select></td>

                                </tr>
                                <tr>
                                    <th>购买价格：</th>
                                    <td><input name="price" id="price" type="text" readonly></td>
                                </tr>

                                <tr>
                                    <th>最大可买数量：</th>
                                    <td><input name="max_count" id="max_count" type="text" readonly></td>
                                </tr>

                                <tr>
                                    <th><i class="require-red">*</i>需要购买数量：</th>
                                    <td><input name="buy_count" id="buy_count" type="text"></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td><input type="submit" class="queding" value="确定购买"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(".menu12").addClass("uc-current");

    var max_temp;
    function showTips(id, msg) {
        var tips = layer.tips(msg, id, {
            tips: [1, '#fff8db'],
            area: ['400px', '35px']
        });
        $(id).on('mouseout', function () {
            layer.close(tips);
        });
    }

    $("#category option:first").prop("selected", 'selected');
    currency_change();

    function currency_change() {

        var currency_id = $('#category').val();
        $.ajax({
            type: "post",
            url: "{:U('Safe/getgoumai')}",
            data: {
                currency_id: currency_id
            },
            async: false,
            success: function (d) {
                /*
                $("#loading").remove();
                if (d.status != 1) {
                    $("#trustmsgout").text(d.info).fadeOut(500).fadeIn(500).fadeOut(500).fadeIn(500).fadeOut(500).fadeIn(500);
                    //加一个提示
                    layer.msg(d.info);
                } else {
                    layer.msg(d.info);
                    //刷新页面
                    setTimeout(window.location.reload(), 2000);
                }
                */
                showresult(d)

            }
        });
    }

    function showresult(d) {
        $('#price').val(d.price);
        $('#max_count').val(d.max_count);
        max_temp=d.max_count;
    }



    $("#goumaiForm").validate({
        rules: {
            buy_count: {
                required: true,
                digits: true,
                max:max_temp,
                min:1
            }
        },
        messages: {
            buy_count: {
                required: '必输输入购买数量',
                digits: '必须是整数',
                max: '不能超过最大购买数量',
                min: '最小数量1',
            }
        },
        submitHandler: function (form) {
            ajax_submit_form(form)
            return false;
        },
        invalidHandler: function () {  //不通过回调
            return false;
        }
    });

</script>
<include file="App/Home/View/Public/footer.html"/>